<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Controle de dispostivo embarcado</h1>
        <a class="nav-link" href="/api/fex/happy">Felicidade</a>
        <a class="nav-link" href="/api/fex/doubt">Dúvida</a>
        <a class="nav-link" href="/api/fex/surprise">Surpresa</a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>