<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expressões Faciais</title>
    <script defer src="/frontend_setup/setup.js"></script>
    <script defer src="/expression/script.js"></script>
    <link rel="stylesheet" href="/expression/style.css">
</head>

<body>
    <div id="video-container">
        <video id="video-player" src="/videos/NF.mp4" muted></video>
        <img id="audio-toggle" src="/img/volume_on.svg" alt="Áudio">
    </div>
    <audio id="audio-player"></audio>
</body>

</html>